.day{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 23px 4px rgba(10, 7, 187, 0.47);
    margin:14px;

}

.day:hover{
    background-color: rgb(170, 186, 255);
    color:rgb(250, 243, 146);
    
}

.temperature, .description{
    display: flex;
    justify-content:space-around;

}